body , h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, pre, form, table{
    margin: 0;
    padding: 0;
}
/*把全部的相同的标签默认的样式去掉   以上同理*/
/*    *{      但是此种情况不建议使用

        }     */
ul ,ol, li{
    list-style: none;  /*  这些样式在前面有自带的 点 用list-style: none;是为了去掉*/
}
a{
    text-decoration: none;
    color: white;
}
i{
    font-style: normal;
}